button{
    font-weight: 600;
    background-color: black;
    color: purple;
    border: 1px solid purple;
    padding: 8px 15px;
}
#hover button:hover{
    background-color: blue;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

#exemplo-01{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: lightblue;
}

#hover #exemplo-01:hover{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNYRiawAXaNdcxNmajsSLwWEY2hnvfP9cI4g&usqp=CAU');
    background-size: cover;
}

#active button:active{
    background-color: green;
    color: black;
    border: 1px solid black;
}

#active p:active{
    background-color: lightgreen;
}

#focus label{
    display: block;
    margin: 12px;
}

#focus input:focus{
    outline: 2px dashed red;
}

#focus select:focus{
    background-color: lightgreen;
}
#focus label:focus-within{
    font-weight: bold;
}

#target p:target{
    background-color: lightgreen;
}

#enabled-disabled button:enabled{
    background-color: blue;
    color: yellow;
}
#enabled-disabled button:disabled{
    background-color: green;
    color: black;
    opacity: .5;
}
#placeholder-shown label{
    display: block;
    margin: 12px;
}

#placeholder-shown input:placeholder-shown{
    border: 1px solid green;
    background-color: lightblue;
}

#checked input{
    accent-color: green;
}

#checked input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}

#checked input[type="radio"]{
    accent-color: purple;
}
#checked input[type="radio"]:checked + label{
    color: green;
    font-weight: bold;
}
#checked option:checked{
    color: green;
    background-color: lightgreen;
}

#valid > label{
    display: block;
}
#valid > form{
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    width: 300px;
    padding: 20px;

    margin: auto;
}
#valid > form label{
    display: block;
    margin-bottom: 5px;
}
#valid > form input{
    margin-bottom: 20px;
    padding: 5px 8px;
}

#valid input:valid, input:in-range{
    border: 1px solid green;
    color: green;
}
#valid input:invalid, input:out-of-range{
    border: 1px solid red;
    color: red;
}

#valid .error{
    color: red;
    font-size: .8rem;
    display: none;
}

#valid input:invalid + .error{
    display: inline;
}