:root{
    --bg-gradient: linear-gradient(90deg, #fc466b, #3f5efb);
}


body{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
}

h1{
    font-size: 4.5rem;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

button{
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 7px;

    background-image: var(--bg-gradient);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.259);
    color: white;
    cursor: pointer;
}

button:hover{
    filter: brightness(1.1);

    animation-name: button-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes button-move {
    0%{
        transform: rotate(0);
    }
    15%{
        transform: rotate(20deg);
    }
    30%{
        transform: rotate(-20deg);
    }
    45%, 100%{
        transform: rotate(0);
    }
    
}

/*BEM (Block, Element, Modifier) - CSS*/

.menu{
    background-image: var(--bg-gradient);
}
.menu__list{
    margin: 0;
    padding: 15px 0px;
}
.menu__items{
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
}

.menu__link{
    color: white;
    text-decoration: none;
    background-color: rgb(34, 34, 34);
    padding: 7px 10px;
    border-radius: 4px;
}

.menu__items--active{
    color: aqua;
}